            * {
                margin: 0;
                padding: 0;
            }
            
            img {
                border-radius: 50%;
            }
            
            .third,
            img {
                border-radius: 0%;
            }
            
            body,
            .first,
            .second,
            .third {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: blue;
            }
            
            center b1 {
                font-size: 35px;
            }
            
            center b2 {
                font-size: 30px;
            }
            
            .first {
                background-color: rgb(255, 242, 226);
            }
            
            .second {
                background-color: pink;
            }
            
            .third {
                color: black;
                background-image: url("./images/headphone.jpg");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 1349px;
                height: 600px;
                font-size: 25px;
            }
            
            .fourth {
                background-color: black;
            }
            
            * {
                margin: 0;
                padding: 0;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            
            body {
                background: white;
            }
            
            .container {
                text-align: center;
                position: absolute;
                top: 31%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
            }
            
            .container span {
                /* text-transform: uppercase; */
                display: block;
            }
            
            .text1 {
                color: blue;
                font-size: 35px;
                /* font-weight: 700; */
                /* letter-spacing: 8px; */
                margin-bottom: 10px;
                background: rgb(255, 242, 226);
                position: relative;
                animation: text 2s 1;
            }
            
            .text2 {
                font-size: 30px;
                color: blue;
            }
            
            @keyframes text {
                0% {
                    color: blue;
                    margin-bottom: -40px;
                }
                30% {
                    letter-spacing: 25px;
                    margin-bottom: -80px;
                }
                85% {
                    letter-spacing: 8px;
                    margin-bottom: -15px;
                }
            }